In [1]:
#Pandas series = 1D arrays with labels

In [4]:
import pandas as pd

In [5]:
dict={'a':3,'b':'cat','c':2.5} #Dictionary!
pd.Series(dict)

a      3
b    cat
c    2.5
dtype: object

In [8]:
oneD=pd.Series([100,'cat',310,'gog',500],['Amy','Bobby','Cat','Don','Emma'])
print(oneD)

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [9]:
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [11]:
oneD=pd.Series([100,'cat',310,'gog',500],index=['Amy','Bobby','Cat','Don','Emma']) #second list= indexes
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [13]:
oneD.loc[['Cat','Emma']] #psaxnei labels Cat kai Emma kai dinei indexes kai values

Cat     310
Emma    500
dtype: object

In [16]:
oneD[[0,3,4]] #extract data with indexes 0,3,4

Amy     100
Don     gog
Emma    500
dtype: object

In [17]:
oneD.iloc[1] #indexed position of value

'cat'

In [20]:
oneD.iloc[-4] #indexed position of value

'cat'

In [21]:
'cat' in oneD #psaxnei for index==cat

False

In [22]:
'Cat' in oneD #psaxnei for index==Cat

True

In [23]:
# Pandas Data frames -2D datas in tabular form (rows and columns)

In [25]:
d={'A':pd.Series([100.,200.,300.],index=['apple','pear', 'orange']),
   'B':pd.Series([111.,222.,333.,4444.],index=['apple','pear','orange','melon'])}

In [30]:
df=pd.DataFrame(d)
print(df)

            A       B
apple   100.0   111.0
melon     NaN  4444.0
orange  300.0   333.0
pear    200.0   222.0

In [31]:
df.index

Index(['apple', 'melon', 'orange', 'pear'], dtype='object')

In [32]:
df.columns

Index(['A', 'B'], dtype='object')

In [34]:
pd.DataFrame(df,index=['orange','melon','apple'],columns=['A'])

            A
orange  300.0
melon     NaN
apple   100.0

In [35]:
pd.DataFrame(df,index=['orange','melon'],columns=['A'])

            A
orange  300.0
melon     NaN

In [36]:
pd.DataFrame(df,index=['orange','melon','apple'],columns=['A','B'])

            A       B
orange  300.0   333.0
melon     NaN  4444.0
apple   100.0   111.0